.parola div#titluParola {
    background: #C2C2C2;
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    font-weight: 400;
	
	border:2px solid black;
	border-radius:10px;
}


div#continutParola {
    background: white;
    height: 265px;
    width: 895px;
    margin: auto;
    margin-top: 5px;
    display: none;
    border: 1px solid black;
}

.parola {
    margin-top: 3px;
    height: 35px;
    -webkit-transition: all .3s linear; 
    transition: all .3s linear; 
    -moz-transition: all .3s linear; 
    overflow: hidden;
}

.parola:hover > div#continutParola {
    display: block;
}

.parola:hover {
    height: 320px;
}


#continutParola table tbody:first-child tr:first-child {
    font-size: 20px;
    font-weight: 600;

}

div#continutParola table tbody tr td {
    /* height: 30px; */
    width: 180px;
    text-align: center;
}


table, th, td {
    border: 1px solid rgb(234, 234, 234);
}



table {
    padding-top: 20px;
}



div#descriereP {
    /* background: blanchedalmond; */
    height: 90px;
    width: 790px;
    margin: auto;
    margin-top: 20px;
}

div#descriereP p {
    /* background: aquamarine; */
    float: left;
    width: 90px;
    font-size: 20px;
    font-weight: 900;
}


div#cDescriere {
    background: rgb(243, 243, 243);
    height: 90px;
    width: 700px;
    float: right;
}


div#cDescriere p {
    margin-left: 20px;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 200;
    width: 96%;
}


div#btnStergeP {
    float: right;
    margin-right: 10px;
}



 input.special_submit {
    font: 1.3em sans-serif;
    width: 160px;
    box-sizing: border-box;
    border-color:white;
    border-width:2px;
    border-radius:4px;
    
    margin-top:0.5em;
    
    background-color:#00A2C9;
    
    color: white;
    border-style:outset;
    cursor:pointer;
    height: 40px;
}



input.special_submit:hover, form.special_form  input.special_submit:active {
    background-color: white;
    border-color: #023240;
    cursor: pointer;
    color: #023240;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

div#grupareParole {
	font-family:sans-serif;
    width: 500px;
    margin: auto;
    background: rgb(233, 233, 233);
    margin-top: 10px;
    margin-bottom: 24px;
    text-align: center;
	border:2px solid black;
	padding: 0 30px 30px;
	border-radius: 20px;
}

div#grupareParole form h3{  
	text-align:center;
	margin-bottom:30px;
	color:#555;
	height:3px;
	text-shadow:
		1px 1px 0 black,
		2px 2px 0 white,
		3px 3px 0 #C2C2C2;
	letter-spacing:3px;
	text-transform: uppercase;
	padding-bottom:3px;
}

div#grupareParole form hr{
	margin:10px auto;
	clear:both;
}

select.grupare {
    float: left;    width: 145px;    
    height: 30px;    
    margin: auto;    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
	margin-bottom:20px;
	color:#B1A9B1;
}

select.grupare:focus{
	color:black;
	outline:0;
}

input#coosePGrupare {
    margin-top: 10px;
    padding: 5px;
    width: 500px;
	background-color:grey;
	letter-spacing:1px;
	border-radius:10px;
	box-sizing:border-box;
	font-size:20px;
	cursor:pointer;
	color:white;
	outline:0;
	border:2px solid black;
}

input#coosePGrupare:hover {
	background: linear-gradient(#99C0FF, #22C3F7);
	border:2px solid #EFEFEF;
	outline:0;
	color:white;
}

div#showTextGrupare span {
    color: rgb(0, 191, 243);
    text-transform: capitalize;
}

div#showTextGrupare {
    font-size: 1.1em;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
}




                                        <!-- start paginare -->
.page
{
float: right;
margin: 0;
padding: 0;
}

.page li
{
    list-style: none;
    display:inline-block;
}

.page li a, .current
{
display: block;
padding: 5px;
text-decoration: none;
color: #8A8A8A;
}

.current
{
    font-weight:bold;
    color: #000;
}

.button
{
padding: 5px 15px;
text-decoration: none;
background: #333;
color: #F3F3F3;
font-size: 13PX;
border-radius: 2PX;
margin: 0 4PX;
display: block;
float: left;
}

div#paginare {
    margin-left: 35px;
    width: 900px;
    margin-top: 70px;
    margin-bottom: 100px;
}
                                        <!-- end paginare -->
